{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "#utils": "./src/utils",
          "#components": "./src/components",
          "#constants": "./src/constants",
          "#public": "./public",
          "#lib": "./src/lib",
          "#config": "./src/config"
        }
      }
    ]
  ]
}
